<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.adenclassifieds.ei9" >

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.INTERNET" />

    <uses-feature
        android:name="android.hardware.camera"
        android:required="true" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".activity.MainActivity"
            android:label="@string/app_name"
            android:theme="@style/Theme.AppCompat.Light" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.onprint.sdk.activity.ScanActivity"
            android:label="@string/app_name" />
        <activity
            android:name=".activity.Ad_details"
            android:label="@string/title_activity_ad_details"
            android:parentActivityName=".activity.MainActivity"
            android:theme="@style/AppTheme" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activity.MainActivity" />
        </activity>
        <activity
            android:name=".activity.Contact_form"
            android:label="@string/title_activity_contact_form"
            android:parentActivityName=".activity.Ad_details"
            android:theme="@style/AppTheme" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.adenclassifieds.ei9.activity.Ad_details" />
        </activity>
        <activity
            android:name=".activity.Fullscreen_slider"
            android:label="@string/title_activity_fullscreen_slider"
            android:parentActivityName=".activity.Ad_details"
            android:theme="@style/Theme.AppCompat.NoActionBar.FullScreen">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.adenclassifieds.ei9.activity.Ad_details" />
        </activity>
    </application>

</manifest>
